.haromszog{
    max-width: 50%;
    max-height: 50%;
}

.haromszog div{
padding: 10px;
}

.haromszog p{
    font-size: 16px;

}

.haromszog h1{
    text-align: center;
}

.haromszog input{
    width: 100%;
    height: 20px;
    border-radius: 2px;
    border: 1px solid white;
}

.haromszog button{
    width: 200px;
    height: 30px;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: 20%;
    background-color: aliceblue;
    border: 1px solid white;
}
.haromszog button:hover{
    border: 2px solid black;
    background-color: white;
}

.desc{
    background-color: rgb(224, 223, 223);
    border-radius: 3px;
    width: 70%;
    display: grid;
    justify-content: center;
    padding: 80px;
}

#eredmeny{
    background-color: aliceblue;
    width: 90%;
    height: 40px;
    margin-top: 20px;
    margin-left: 10px;
}